<header class="site-header">
  <nav class="nav">
    <a href="{{ '/' | url }}" class="brand">{{ site.nazwa }}</a>
    <details class="nav-menu">
      <summary>Menu</summary>
      <ul class="nav-links">
        <li><a href="{{ '/' | url }}">Strona główna</a></li>
        <li><a href="{{ '/ogloszenia/' | url }}">Ogłoszenia</a></li>
        <li><a href="{{ '/intencje/' | url }}">Intencje mszalne</a></li>
        <li><a href="{{ '/msza/' | url }}">Msze Święte</a></li>
        <li><a href="{{ '/sakramenty/' | url }}">Sakramenty</a></li>
        <li><a href="{{ '/historia/' | url }}">Historia i galeria</a></li>
        <li><a href="{{ '/kontakt/' | url }}">Kontakt</a></li>
      </ul>
    </details>
  </nav>
</header>
